.Location_root {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  grid-template-rows: 164px repeat;
  grid-auto-rows: minmax(164px, 164px);
  grid-column-gap: 30px;
  grid-row-gap: 35px;
  margin-top: 35px;
}

.Locations h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  margin-top: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Planet {
  display: flex;
}

.Location_info {
  width: 210px;
  margin-top: 9px;
  margin-left: 30px;
}

.Locations:hover {
  cursor: pointer;
  box-shadow: 10px 10px 5px 0px #a1a1a199;
}

.Location_info p {
  margin-bottom: 5px;
}

.Locations {
  position: relative;
  border: 1px dashed rgba(162, 162, 162, 0.6);
}

.Locations p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #1f4766;
}

.Locations span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.Amount_cutaways p {
  width: 283px;
  position: absolute;
  right: 30px;
  top: 64px;
}

.Amount_cutaways span {
  font-size: 36px;
  line-height: 44px;
  position: absolute;
  left: 255px;
  top: 105px;
}

.addBtn {
  width: 40px;
  height: 40px;
  background-color: #00a3ff;
  border: 1px solid #a2a2a299;
  position: absolute;
  border-radius: 19px;
  top: -20px;
  right: -20px;
}

.addBtn img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 9px;
}
.addBtn:hover {
  cursor: pointer;
  background-color: #008bda;
  box-shadow: 8px 8px 5px -3px #a1a1a199;
}

.appendBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 19px;
  border: none;
  top: -20px;
  right: -20px;
}
