.filter_location {
  display: flex;
  position: relative;
  height: 71px;
  margin-top: 35px;
}

.filter_location input {
  width: 370px;
  height: 36px;
  background: rgba(162, 162, 162, 0.1);
  border: 1px solid rgba(162, 162, 162, 0.6);
  border-radius: 5px;
  outline: none;
  padding-left: 13px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.filter_location input:focus {
  border: 1px solid #00a3ff !important;
}

.filter_location input:hover {
  border: 1px solid rgba(0, 0, 0, 0.45);
}

.filter_location p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 20px;
}

.filter_location input::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #00000066;
}

.filter_title {
  position: absolute;
  left: 0px;
}

.filter_type {
  position: absolute;
  left: 400px;
}

.filter_dimension {
  position: absolute;
  left: 800px;
}
